<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.2" xsi:schemaLocation="urn:oasis:names:tc:xliff:document:1.2 xliff-core-1.2-transitional.xsd">
  <file datatype="xml" original="XamlTypeMapper.xml" source-language="en-US" target-language="de-DE">
    <header>
      <tool tool-id="mdxliff" tool-name="mdxliff" tool-version="1.0-15c36f0" tool-company="Microsoft" />
      <xliffext:skl_file_name xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">02cd5861-7ce2-4a82-b358-31f8435a0ac5a3d3958120fe26b80e126a09c20e3314d4c834d3.skl</xliffext:skl_file_name>
      <xliffext:version xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1.2</xliffext:version>
      <xliffext:ms.openlocfilehash xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">a3d3958120fe26b80e126a09c20e3314d4c834d3</xliffext:ms.openlocfilehash>
      <xliffext:ms.sourcegitcommit xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">d31dc2ede16f6f7bc64e90d9f897ff54c4e3869b</xliffext:ms.sourcegitcommit>
      <xliffext:ms.lasthandoff xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">04/03/2018</xliffext:ms.lasthandoff>
      <xliffext:moniker_ids xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">netframework-4.5.1,netframework-4.5.2,netframework-4.5,netframework-4.6.1,netframework-4.6.2,netframework-4.6,netframework-4.7.1,netframework-4.7</xliffext:moniker_ids>
    </header>
    <body>
      <group id="content" extype="content">
        <trans-unit id="101" translate="yes" xml:space="preserve" uid="T:System.Windows.Markup.XamlTypeMapper">
          <source>Maps a XAML element name to the appropriate CLR <ph id="ph1">&lt;see cref="T:System.Type" /&gt;</ph> in assemblies.</source>
          <target state="translated">Ordnet dem entsprechenden CLR-<ph id="ph1">&lt;see cref="T:System.Type" /&gt;</ph> in Assemblys einen XAML-Elementnamen zu.</target>       </trans-unit>
        <trans-unit id="102" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Markup.XamlTypeMapper">
          <source><ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper&gt;</ph> is part of an advanced WPF scenario that supplies alternate context for <ph id="ph2">&lt;xref:System.Windows.Markup.XamlReader&gt;</ph> and <ph id="ph3">&lt;xref:System.Windows.Markup.XamlWriter&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper&gt;</ph> ist Teil eines erweiterten WPF-Szenarios, die für alternative Kontext bereitstellt <ph id="ph2">&lt;xref:System.Windows.Markup.XamlReader&gt;</ph> und <ph id="ph3">&lt;xref:System.Windows.Markup.XamlWriter&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="103" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Markup.XamlTypeMapper">
          <source>For <ph id="ph1">[!INCLUDE[net_v40_short](~/includes/net-v40-short-md.md)]</ph> WPF applications, you should consider overriding <ph id="ph2">&lt;xref:System.Xaml.XamlSchemaContext&gt;</ph> for this scenario, rather than attempting to use <ph id="ph3">&lt;xref:System.Windows.Markup.XamlTypeMapper&gt;</ph>.</source>
          <target state="translated">Für <ph id="ph1">[!INCLUDE[net_v40_short](~/includes/net-v40-short-md.md)]</ph> WPF-Anwendungen sollten überschreiben <ph id="ph2">&lt;xref:System.Xaml.XamlSchemaContext&gt;</ph> für dieses Szenario, anstatt die Verwendung <ph id="ph3">&lt;xref:System.Windows.Markup.XamlTypeMapper&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="104" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Markup.XamlTypeMapper">
          <source><ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper&gt;</ph> can be used to provide the XAML parser with custom mapping information through a more direct technique than the application of <ph id="ph2">&lt;xref:System.Windows.Markup.XmlnsDefinitionAttribute&gt;</ph> values on the assembly code.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper&gt;</ph> kann verwendet werden, um die benutzerdefinierte Zuordnung mit Informationen über eine direktere Technik als die Anwendung von der Verwendung von XAML-Parser bereitzustellen <ph id="ph2">&lt;xref:System.Windows.Markup.XmlnsDefinitionAttribute&gt;</ph> Werte auf den Assemblycode.</target>       </trans-unit>
        <trans-unit id="105" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Markup.XamlTypeMapper">
          <source>This might be useful for consolidation of all CLR namespaces in an assembly, or for referencing types that are XAML-ready in an existing assembly without having to recompile it just to add <ph id="ph1">&lt;xref:System.Windows.Markup.XmlnsDefinitionAttribute&gt;</ph> attributing.</source>
          <target state="translated">Dies ist möglicherweise nützlich für die Konsolidierung aller CLR-Namespaces in einer Assembly oder zum Verweisen auf Typen, die in einer vorhandenen Assembly ohne Neukompilierung Hinzufügen von XAML-bereit sind <ph id="ph1">&lt;xref:System.Windows.Markup.XmlnsDefinitionAttribute&gt;</ph> Attributierung.</target>       </trans-unit>
        <trans-unit id="106" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Markup.XamlTypeMapper">
          <source>You typically create a <ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper&gt;</ph> instance in order to specify the <ph id="ph2">&lt;xref:System.Windows.Markup.ParserContext.XamlTypeMapper%2A&gt;</ph> property value for a <ph id="ph3">&lt;xref:System.Windows.Markup.ParserContext&gt;</ph>.</source>
          <target state="translated">Erstellen Sie in der Regel eine <ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper&gt;</ph> Instanz, um anzugeben der <ph id="ph2">&lt;xref:System.Windows.Markup.ParserContext.XamlTypeMapper%2A&gt;</ph> Eigenschaftswert für ein <ph id="ph3">&lt;xref:System.Windows.Markup.ParserContext&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="107" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Markup.XamlTypeMapper">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Markup.ParserContext&gt;</ph> in turn can be used as the context for a <ph id="ph2">&lt;xref:System.Windows.Markup.XamlReader.Load%28System.IO.Stream%2CSystem.Windows.Markup.ParserContext%29?displayProperty=nameWithType&gt;</ph> call.</source>
          <target state="translated">Die <ph id="ph1">&lt;xref:System.Windows.Markup.ParserContext&gt;</ph> wiederum können verwendet werden, als den Kontext für eine <ph id="ph2">&lt;xref:System.Windows.Markup.XamlReader.Load%28System.IO.Stream%2CSystem.Windows.Markup.ParserContext%29?displayProperty=nameWithType&gt;</ph> aufrufen.</target>       </trans-unit>
        <trans-unit id="108" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Markup.XamlTypeMapper">
          <source>Default Mapper</source>
          <target state="translated">Standardmapper</target>       </trans-unit>
        <trans-unit id="109" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Markup.XamlTypeMapper">
          <source>You can obtain a default mapper using the <ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper.DefaultMapper%2A&gt;</ph> static property.</source>
          <target state="translated">Sie erhalten eine Standardmapper unter Verwendung der <ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper.DefaultMapper%2A&gt;</ph> statische Eigenschaft.</target>       </trans-unit>
        <trans-unit id="110" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Markup.XamlTypeMapper">
          <source>The default mapper only works on a default assembly list.</source>
          <target state="translated">Der Standardmapper kann nur für eine Standardliste der Assembly.</target>       </trans-unit>
        <trans-unit id="111" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Markup.XamlTypeMapper">
          <source>No specific information about assemblies (as is specified in <ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper&gt;</ph> constructors) is used.</source>
          <target state="translated">Keine spezifischen Informationen zu Assemblys (wie im angegebenen <ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper&gt;</ph> Konstruktoren) verwendet wird.</target>       </trans-unit>
        <trans-unit id="112" translate="yes" xml:space="preserve" uid="T:System.Windows.Markup.XamlTypeMapper">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph> class.</source>
          <target state="translated">Initialisiert eine neue Instanz der <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph>-Klasse.</target>       </trans-unit>
        <trans-unit id="113" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.#ctor(System.String[])">
          <source>The array of assembly names the <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph> should use.</source>
          <target state="translated">Das Array von Assemblynamen, das vom <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph> verwendet werden soll.</target>       </trans-unit>
        <trans-unit id="114" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.#ctor(System.String[])">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph> class by specifying an array of assembly names that the <ph id="ph2">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph> should use.</source>
          <target state="translated">Initialisiert durch Angeben eines Arrays von Assemblynamen, die vom <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph> verwendet werden sollen, eine neue Instanz der <ph id="ph2">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph>-Klasse.</target>       </trans-unit>
        <trans-unit id="115" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.#ctor(System.String[])">
          <source><ph id="ph1">&lt;paramref name="assemblyNames" /&gt;</ph> is <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;paramref name="assemblyNames" /&gt;</ph> ist <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="116" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.#ctor(System.String[],System.Windows.Markup.NamespaceMapEntry[])">
          <source>The array of assembly names the <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph> should use.</source>
          <target state="translated">Das Array von Assemblynamen, das vom <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph> verwendet werden soll.</target>       </trans-unit>
        <trans-unit id="117" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.#ctor(System.String[],System.Windows.Markup.NamespaceMapEntry[])">
          <source>The array of namespace maps the <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph> should use.</source>
          <target state="translated">Das Array von Namespacezuordnungen, das von <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph> verwendet werden soll.</target>       </trans-unit>
        <trans-unit id="118" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.#ctor(System.String[],System.Windows.Markup.NamespaceMapEntry[])">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph> class, using the specified array of assembly names and the specified namespace maps.</source>
          <target state="translated">Initialisiert eine neue Instanz der <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph>-Klasse mit dem angegebenen Array von Assemblynamen und den angegebenen Namespacezuordnungen.</target>       </trans-unit>
        <trans-unit id="119" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.#ctor(System.String[],System.Windows.Markup.NamespaceMapEntry[])">
          <source><ph id="ph1">&lt;paramref name="assemblyNames" /&gt;</ph> is <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;paramref name="assemblyNames" /&gt;</ph> ist <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="120" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction(System.String,System.String,System.String)">
          <source>The prefix for the XML namespace..</source>
          <target state="translated">Das Präfix für den XML-Namespace.</target>       </trans-unit>
        <trans-unit id="121" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction(System.String,System.String,System.String)">
          <source>The CLR  namespace that contains the types to map.</source>
          <target state="translated">Der CLR-Namespace, der die zuzuordnenden Typen enthält.</target>       </trans-unit>
        <trans-unit id="122" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction(System.String,System.String,System.String)">
          <source>The assembly that contains the CLR  namespace.</source>
          <target state="translated">Die Assembly, die den CLR-Namespace enthält.</target>       </trans-unit>
        <trans-unit id="123" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction(System.String,System.String,System.String)">
          <source>Defines a mapping between an XML namespace and CLR namespaces in assemblies, and adds these to the <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph> information.</source>
          <target state="translated">Definiert in Assemblys eine Zuordnung zwischen einem XML-Namespace und CLR-Namespaces und fügt diese den <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph>-Informationen hinzu.</target>       </trans-unit>
        <trans-unit id="124" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction(System.String,System.String,System.String)">
          <source><ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction%2A&gt;</ph> is a programmatic way to add a mapping.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction%2A&gt;</ph> ist eine programmgesteuerte Methode zum Hinzufügen einer Zuordnung.</target>       </trans-unit>
        <trans-unit id="125" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction(System.String,System.String,System.String)">
          <source>For example, the different parts of the following XAML mapping instruction correspond to the parameters of the <ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction%2A&gt;</ph>:</source>
          <target state="translated">Beispielsweise entsprechen die verschiedenen Teile des folgenden XAML-Mapping-Anweisung die Parameter von der <ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction%2A&gt;</ph>:</target>       </trans-unit>
        <trans-unit id="126" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction(System.String,System.String,System.String)">
          <source>The <ph id="ph1">`xmlNamespace`</ph> is <ph id="ph2">`SDK`</ph>, the <ph id="ph3">`clrNamespace`</ph> is <ph id="ph4">`Samples`</ph>, and the <ph id="ph5">`assemblyName`</ph> is <ph id="ph6">`SDKSamples`</ph>.</source>
          <target state="translated">Die <ph id="ph1">`xmlNamespace`</ph> ist <ph id="ph2">`SDK`</ph>, <ph id="ph3">`clrNamespace`</ph> ist <ph id="ph4">`Samples`</ph>, und die <ph id="ph5">`assemblyName`</ph> ist <ph id="ph6">`SDKSamples`</ph>.</target>       </trans-unit>
        <trans-unit id="127" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction(System.String,System.String,System.String)">
          <source><ph id="ph1">&lt;paramref name="xmlNamespace" /&gt;</ph> is <ph id="ph2">&lt;see langword="null" /&gt;</ph></source>
          <target state="translated"><ph id="ph1">&lt;paramref name="xmlNamespace" /&gt;</ph> ist gleich <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="128" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction(System.String,System.String,System.String)">
          <source>-or-</source>
          <target state="translated">- oder - </target>       </trans-unit>
        <trans-unit id="129" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction(System.String,System.String,System.String)">
          <source><ph id="ph1">&lt;paramref name="clrNamespace" /&gt;</ph> is <ph id="ph2">&lt;see langword="null" /&gt;</ph></source>
          <target state="translated"><ph id="ph1">&lt;paramref name="clrNamespace" /&gt;</ph> ist gleich <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="130" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction(System.String,System.String,System.String)">
          <source>-or-</source>
          <target state="translated">- oder - </target>       </trans-unit>
        <trans-unit id="131" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction(System.String,System.String,System.String)">
          <source><ph id="ph1">&lt;paramref name="assemblyName" /&gt;</ph> is <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;paramref name="assemblyName" /&gt;</ph> ist <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="132" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.AllowInternalType(System.Type)">
          <source>The type to access.</source>
          <target state="translated">Der Typ, auf den zugegriffen werden soll.</target>       </trans-unit>
        <trans-unit id="133" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.AllowInternalType(System.Type)">
          <source>Requests permission for a <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph> derived type that is called under full trust to access a specific internal type.</source>
          <target state="translated">Fordert die Berechtigung für einen abgeleiteten <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph>-Typ an, der mit voller Vertrauenswürdigkeit aufgerufen wird, um auf einen bestimmten internen Typ zuzugreifen.</target>       </trans-unit>
        <trans-unit id="134" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.AllowInternalType(System.Type)">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> if the internal type can be accessed; otherwise, <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;see langword="true" /&gt;</ph>, wenn auf den internen Typ zugegriffen werden kann, andernfalls <ph id="ph2">&lt;see langword="false" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="135" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Markup.XamlTypeMapper.AllowInternalType(System.Type)">
          <source>If not overridden by a subclass, <ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper.AllowInternalType%2A&gt;</ph> always returns <ph id="ph2">`false`</ph>.</source>
          <target state="translated">Wenn Sie nicht durch eine Unterklasse überschrieben <ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper.AllowInternalType%2A&gt;</ph> gibt immer <ph id="ph2">`false`</ph>.</target>       </trans-unit>
        <trans-unit id="136" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Markup.XamlTypeMapper.AllowInternalType(System.Type)">
          <source>When overridden by a subclass, the behavior should be that <ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper.AllowInternalType%2A&gt;</ph> should return <ph id="ph2">`true`</ph> if the internal type can be accessed; otherwise, <ph id="ph3">`false`</ph>.</source>
          <target state="translated">Ruft beim Überschreiben durch eine Unterklasse verwendet werden sollte, sein, der das Verhalten <ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper.AllowInternalType%2A&gt;</ph> zurückgeben sollte <ph id="ph2">`true`</ph> Wenn der interne Typ, auf die zugegriffen wurde, andernfalls werden kann <ph id="ph3">`false`</ph>.</target>       </trans-unit>
        <trans-unit id="137" translate="yes" xml:space="preserve" uid="P:System.Windows.Markup.XamlTypeMapper.DefaultMapper">
          <source>Gets an instance of the <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph> to use if one has not been specified.</source>
          <target state="translated">Ruft eine Instanz des zu verwendenden <ph id="ph1">&lt;see cref="T:System.Windows.Markup.XamlTypeMapper" /&gt;</ph> ab, wenn keiner angegeben wurde.</target>       </trans-unit>
        <trans-unit id="138" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Markup.XamlTypeMapper.DefaultMapper">
          <source>The default type mapper.</source>
          <target state="translated">Der Standard-Typ-Mapper.</target>       </trans-unit>
        <trans-unit id="139" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Markup.XamlTypeMapper.DefaultMapper">
          <source>The default mapper only works on a default assembly list.</source>
          <target state="translated">Der Standardmapper kann nur für eine Standardliste der Assembly.</target>       </trans-unit>
        <trans-unit id="140" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Markup.XamlTypeMapper.DefaultMapper">
          <source>No specific information about assemblies (as is specified in <ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper&gt;</ph> constructors) is used.</source>
          <target state="translated">Keine spezifischen Informationen zu Assemblys (wie im angegebenen <ph id="ph1">&lt;xref:System.Windows.Markup.XamlTypeMapper&gt;</ph> Konstruktoren) verwendet wird.</target>       </trans-unit>
        <trans-unit id="141" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Markup.XamlTypeMapper.DefaultMapper">
          <source>In the current implementation the default assembly list is: <ph id="ph1">`WindowsBase`</ph>, <ph id="ph2">`PresentationCore`</ph>, <ph id="ph3">`PresentationFramework`</ph>.</source>
          <target state="translated">In der aktuellen Implementierung ist die Standardliste der Assembly: <ph id="ph1">`WindowsBase`</ph>, <ph id="ph2">`PresentationCore`</ph>, <ph id="ph3">`PresentationFramework`</ph>.</target>       </trans-unit>
        <trans-unit id="142" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Markup.XamlTypeMapper.DefaultMapper">
          <source>Using the default mapper does not mean that you cannot use custom assemblies/types in XAML at all.</source>
          <target state="translated">Mithilfe der Standardmapper bedeutet nicht, dass Sie benutzerdefinierte Assemblys/Typen überhaupt in XAML verwenden können.</target>       </trans-unit>
        <trans-unit id="143" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Markup.XamlTypeMapper.DefaultMapper">
          <source>It only means that if you do use custom types/assemblies, you must then use the conventional XAML technique of creating the mappings as <ph id="ph1">`xmlns`</ph> attributes in each XAML page where the types/assemblies are referenced, as opposed to a type mapper API.</source>
          <target state="translated">Es bedeutet nur, wenn Sie benutzerdefinierte Typen/Assemblys verwenden, klicken Sie dann die herkömmliche XAML-Technik zum Erstellen der Zuordnungen als verwenden müssen <ph id="ph1">`xmlns`</ph> Attribute auf den einzelnen XAML-Seiten, in denen die Typen/Assemblys, im Gegensatz zu einem Typmapper API verwiesen werden.</target>       </trans-unit>
        <trans-unit id="144" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Markup.XamlTypeMapper.DefaultMapper">
          <source>For more information, see <bpt id="p1">[</bpt>XAML Namespaces and Namespace Mapping for WPF XAML<ept id="p1">](~/docs/framework/wpf/advanced/xaml-namespaces-and-namespace-mapping-for-wpf-xaml.md)</ept>.</source>
          <target state="translated">Weitere Informationen finden Sie unter <bpt id="p1">[</bpt>XAML-Namespaces und Namespace-Zuordnung für WPF-XAML<ept id="p1">](~/docs/framework/wpf/advanced/xaml-namespaces-and-namespace-mapping-for-wpf-xaml.md)</ept>.</target>       </trans-unit>
        <trans-unit id="145" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.GetType(System.String,System.String)">
          <source>The specified XML namespace prefix.</source>
          <target state="translated">Das angegebene XML-Namespacepräfix.</target>       </trans-unit>
        <trans-unit id="146" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.GetType(System.String,System.String)">
          <source>The "local" name of the XAML element to obtain the mapped <ph id="ph1">&lt;see cref="T:System.Type" /&gt;</ph> for.</source>
          <target state="translated">Der "lokale" Name des XAML-Elements, für den der zugeordnete <ph id="ph1">&lt;see cref="T:System.Type" /&gt;</ph> abgerufen werden soll.</target>       </trans-unit>
        <trans-unit id="147" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.GetType(System.String,System.String)">
          <source>Local in this context means as mapped versus the provided <bpt id="p1">&lt;c&gt;</bpt>xmlNamespace<ept id="p1">&lt;/c&gt;</ept>.</source>
          <target state="translated">Lokal bezieht sich in diesem Kontext auf die Zuordnung im Vergleich zum bereitgestellten <bpt id="p1">&lt;c&gt;</bpt>xmlNamespace<ept id="p1">&lt;/c&gt;</ept>.</target>       </trans-unit>
        <trans-unit id="148" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.GetType(System.String,System.String)">
          <source>Gets the CLR <ph id="ph1">&lt;see cref="T:System.Type" /&gt;</ph> that a given XAML element is mapped to, using the specified XML namespace prefix and element name.</source>
          <target state="translated">Ruft mit dem angegebenen XML-Namespacepräfix und dem angegebenen Elementnamen den CLR-<ph id="ph1">&lt;see cref="T:System.Type" /&gt;</ph> ab, dem ein angegebenes XAML-Element zugeordnet ist.</target>       </trans-unit>
        <trans-unit id="149" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.GetType(System.String,System.String)">
          <source>The <ph id="ph1">&lt;see cref="T:System.Type" /&gt;</ph> for the object, or <ph id="ph2">&lt;see langword="null" /&gt;</ph> if no mapping could be resolved.</source>
          <target state="translated">Der <ph id="ph1">&lt;see cref="T:System.Type" /&gt;</ph> für das Objekt, oder <ph id="ph2">&lt;see langword="null" /&gt;</ph>, wenn keine Zuordnung aufgelöst werden konnte.</target>       </trans-unit>
        <trans-unit id="150" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Markup.XamlTypeMapper.GetType(System.String,System.String)">
          <source>If a type cannot be found that maps to the provided information, <ph id="ph1">`null`</ph> is returned.</source>
          <target state="translated">Wenn ein Typ gefunden werden kann, der die angegebenen Informationen zugeordnet <ph id="ph1">`null`</ph> zurückgegeben wird.</target>       </trans-unit>
        <trans-unit id="151" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Markup.XamlTypeMapper.GetType(System.String,System.String)">
          <source>Do not include the prefix as part of <ph id="ph1">`localName`</ph>.</source>
          <target state="translated">Schließen Sie das Präfix nicht im Rahmen des <ph id="ph1">`localName`</ph>.</target>       </trans-unit>
        <trans-unit id="152" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Markup.XamlTypeMapper.GetType(System.String,System.String)">
          <source>For any prefixed XAML element information, separate it into <ph id="ph1">`xmlNamespace`</ph> and <ph id="ph2">`localName`</ph> components for this API call.</source>
          <target state="translated">Für alle Informationen zu XAML-Element mit dem Präfix, trennen Sie ihn in <ph id="ph1">`xmlNamespace`</ph> und <ph id="ph2">`localName`</ph> Komponenten für diesen API-Aufruf.</target>       </trans-unit>
        <trans-unit id="153" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.GetType(System.String,System.String)">
          <source><ph id="ph1">&lt;paramref name="xmlNamespace" /&gt;</ph> is <ph id="ph2">&lt;see langword="null" /&gt;</ph></source>
          <target state="translated"><ph id="ph1">&lt;paramref name="xmlNamespace" /&gt;</ph> ist gleich <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="154" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.GetType(System.String,System.String)">
          <source>-or-</source>
          <target state="translated">- oder - </target>       </trans-unit>
        <trans-unit id="155" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.GetType(System.String,System.String)">
          <source><ph id="ph1">&lt;paramref name="localName" /&gt;</ph> is <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;paramref name="localName" /&gt;</ph> ist <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="156" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.SetAssemblyPath(System.String,System.String)">
          <source>The short name of the assembly without an extension or path specified (equivalent to <ph id="ph1">&lt;see cref="P:System.Reflection.AssemblyName.Name" /&gt;</ph>).</source>
          <target state="translated">Der Kurzname der Assembly ohne Erweiterung oder Pfad (entspricht <ph id="ph1">&lt;see cref="P:System.Reflection.AssemblyName.Name" /&gt;</ph>).</target>       </trans-unit>
        <trans-unit id="157" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.SetAssemblyPath(System.String,System.String)">
          <source>The file path of the assembly.</source>
          <target state="translated">Der Dateipfad der Assemblydatei.</target>       </trans-unit>
        <trans-unit id="158" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.SetAssemblyPath(System.String,System.String)">
          <source>The assembly path must be a full file path containing a file extension.</source>
          <target state="translated">Der Assemblypfad muss ein vollständiger Dateipfad mit einer Dateierweiterung sein.</target>       </trans-unit>
        <trans-unit id="159" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.SetAssemblyPath(System.String,System.String)">
          <source>Specifies the path to use when loading an assembly.</source>
          <target state="translated">Gibt den Pfad an, der beim Laden einer Assembly verwendet werden soll.</target>       </trans-unit>
        <trans-unit id="160" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.SetAssemblyPath(System.String,System.String)">
          <source><ph id="ph1">&lt;paramref name="assemblyName" /&gt;</ph> is <ph id="ph2">&lt;see langword="null" /&gt;</ph></source>
          <target state="translated"><ph id="ph1">&lt;paramref name="assemblyName" /&gt;</ph> ist gleich <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="161" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.SetAssemblyPath(System.String,System.String)">
          <source>-or-</source>
          <target state="translated">- oder - </target>       </trans-unit>
        <trans-unit id="162" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.SetAssemblyPath(System.String,System.String)">
          <source><ph id="ph1">&lt;paramref name="assemblyPath" /&gt;</ph> is <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;paramref name="assemblyPath" /&gt;</ph> ist <ph id="ph2">&lt;see langword="null" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="163" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.SetAssemblyPath(System.String,System.String)">
          <source><ph id="ph1">&lt;paramref name="assemblyName" /&gt;</ph> is <ph id="ph2">&lt;see cref="F:System.String.Empty" /&gt;</ph></source>
          <target state="translated"><ph id="ph1">&lt;paramref name="assemblyName" /&gt;</ph> ist gleich <ph id="ph2">&lt;see cref="F:System.String.Empty" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="164" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.SetAssemblyPath(System.String,System.String)">
          <source>-or-</source>
          <target state="translated">- oder - </target>       </trans-unit>
        <trans-unit id="165" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.SetAssemblyPath(System.String,System.String)">
          <source><ph id="ph1">&lt;paramref name="assemblyPath" /&gt;</ph> is <ph id="ph2">&lt;see cref="F:System.String.Empty" /&gt;</ph></source>
          <target state="translated"><ph id="ph1">&lt;paramref name="assemblyPath" /&gt;</ph> ist gleich <ph id="ph2">&lt;see cref="F:System.String.Empty" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="166" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.SetAssemblyPath(System.String,System.String)">
          <source>-or-</source>
          <target state="translated">- oder - </target>       </trans-unit>
        <trans-unit id="167" translate="yes" xml:space="preserve" uid="M:System.Windows.Markup.XamlTypeMapper.SetAssemblyPath(System.String,System.String)">
          <source><ph id="ph1">&lt;paramref name="assemblyPath" /&gt;</ph> is not a full file path containing a file extension.</source>
          <target state="translated"><ph id="ph1">&lt;paramref name="assemblyPath" /&gt;</ph> ist kein vollständiger Dateipfad mit einer Dateierweiterung.</target>       </trans-unit>
      </group>
    </body>
  </file>
</xliff>